<footer class="footer">
    <!-- <div class="container">
        <ul>
            <li><strong>Contacto</strong></li>
            <li>Dirección: Prado Plateado 551</li>
            <li>Teléfono: +52 33 1935 0724</li>
            <li>{{'Email: eddyded49@gmail.com'}}</li>
        </ul>
    </div> -->
    <div class="container">
        <h4>Social Media</h4>
        <ul class="list">
            <li><img src="/icons/facebook.png" alt="" width="50" class="icon circle facebook"
                onclick="window.open('https://www.facebook.com/people/Foxy-Devs/61566113096082/', '_blank');"
                ></li>
            <li><img src="/icons/instagram.png" alt="" width="50" class="icon circle insta"
                onclick="window.open('https://www.instagram.com/foxydevs/', '_blank');"
                ></li>
            <li><img src="/icons/tiktok.png" alt="" width="50" class="icon circle tiktok"
                onclick="window.open('https://www.tiktok.com/@foxydevs?is_from_webapp=1&sender_device=pc', '_blank');"
                ></li>
            <li><img src="/icons/youtube.png" alt="" width="50" class="icon circle youtube" 
                onclick="window.open('https://www.youtube.com/@foxydevs', '_blank');">
            </li>
        </ul>
    </div>
    <div class="container">
        <h4>Legal Information</h4>
        <ul class="list">
            <li>
                <!-- <a href="/politica-privacidad">Política de Privacidad</a> -->

            </li>
            <li>
                <!-- <a href="/terminos-condiciones">Términos y Condiciones</a> -->
            </li>
        </ul>
    </div>
</footer>
