<header>
    <nav class="navbar">
        <img src="/logo.jpg" alt="logo foxy devs" routerLink="/">
        <ul class="links">
            <li class="link">
                <app-btn text="About Us" class="orange" routerLink="/about_us"/>
            </li>
            <!-- <li class="link">
                <app-btn text="Solutions" class="orange" routerLink="/solutions"/>
            </li>
            <li class="link">
                <app-btn text="Projects" class="orange" routerLink="/projects"/>
            </li>
            <li class="link">
                <app-btn text="Experience" class="orange" routerLink="/experience"/>
            </li> -->
            <li class="link">
                <app-btn text="Contact Us" class="orange" routerLink="/contact_us"/>
            </li>
        </ul>
    </nav>

</header>